html {
    height: 100%;
}
body {
  background: #f3f3f3;
  font-family: 'Roboto', sans-serif;
  color: #222;
  font-size: 2em;
  margin: 1em;
}

#container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#title {
  color: #222;
  font-size: 2em;
  font-weight:bold;  
}

.highlight {
  text-decoration: underline;
}

#products {
  margin-top: 1em;
  margin-bottom: 1em;
  display: inline-block;
}

.product {
  display: inline-block;
  vertical-align: middle;
}

#products a {
  text-decoration: none;
  color: inherit;
}

#next {
  width: 8em;
  text-align: center;
  font-weight: bold;
  display: none;
}

#footer-spacer {
  height: 2em;
}

#footer {
  opacity: 0.5;
}

#footer a {
    color: inherit;
}


.product-icon {
  height: 4em;
  vertical-align: middle;
  text-align: center;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.product-description {
  vertical-align: middle;
}

#kit {
  display: inline-block;
  text-align: center;
}

.product-badge {
  vertical-align: middle;
  display: none;
}

@media screen and (min-width: 768px){
    .rwd-break { display: none; }
    body { margin: 2em; }
    #products {
                margin-top: 2em;
                margin-bottom: 2em;
              }
    #next { display: inherit }    
}
